$deep_blue:#001656;
$r_deep_blue:0;
$g_deep_blue:22;
$d_deep_blue:86;

$light_blue: #4D94FF;
$r_light_blue:25;
$g_light_blue:117;
$d_light_blue:255;

$black:#333333;
$grey:#EAEAEA;
$pure:#FFF;
$almost_white:#FAFAFA;

$cover_picture:"../assets/img/cover-picture.png";
$apha_cover: 0.6;
$light:100;
$regular:300;
$semi_bold:400;
$bold:700;
$ultra_bold:900;
